body {
    background: linear-gradient(315deg, #eaeaec, #b4b4bb);
    background-size: cover;
}

h2,
p {
    color: #363946;
}

#connect {
    height: 100vh;
}

#header {
    background: white;
    width: 100vw;
    height: 75px;
    display: flex;
    justify-content: right;
    align-items: center;
}

#account-container {
    width: fit-content;
    margin-right: 1rem;
}

#login {
    display: inline-block;
    padding: 0.5em;
    border: none;
    border-radius: 0.5rem;
    background: #635dff;
    color: white;
    font-weight: 600;
    font-size: 1rem;
}

#sign-up {
    display: inline-block;
    padding: 0.5em;
    margin-right: 0.5em;
    border: none;
    border-radius: 0.5rem;
    background: #363946;
    color: white;
    font-weight: 600;
    font-size: 1rem;
}

#connect-container {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: white;
    border-radius: 1rem;
    padding: 2em;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

#connection-selection {
    grid-column: 2;
}

#connect-form {
    transform-origin: center;
    margin: 1.5rem 0;
    height: 3em;
    display: flex;
    gap: 0.5em;
}

#connect-input {
    min-width: 0;
    flex: auto;
    padding: 1em;
    font-size: 0.9rem;
    border-radius: 0.5em;
    border-style: solid;
    border-color: grey;
    border-width: 0.1rem;
}

#connect-input:focus {
    outline-color: #635dff;
}

#connect-button {
    width: 15%;
    display: inline-block;
    border: none;
    border-radius: 0.5rem;
    background: #635dff;
    color: white;
    font-weight: 600;
    font-size: 1rem;
}

#connect-button:hover {
    opacity: 0.8;
}

#divider {
    margin: 2rem 0;
    position: relative;
    height: 0.05em;
    width: calc(100% - 2em);
    left: 1em;
    background: rgba(160, 160, 160, 0.7);
}

#divider::after {
    display: block;
    position: relative;
    color: grey;
    content: "or";
    left: 50%;
    width: 1.5em;
    text-align: center;
    transform: translateX(-50%);
    bottom: 0.6em;
    background: white;
}

#id-box {
    position: relative;
    background: #eaeaec;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    gap: 2.5rem;
}

#id-box h2 {
    margin: 0;
    display: inline-block;
    color: grey;
    font-size: 1rem;
}

#connect-id {
    margin: 0 1em 0 0;
}

#connect-pw {
    padding-left: 0.5rem;
    border-left: solid #898994;
}

#id-box p {
    margin: 0;
    font-size: 1.5rem;
}

#connect-container > h2 {
    margin: 0;
    font-size: 1.15rem;
}

#connect-container > p {
    font-size: 0.95rem;
    margin: 0.25rem 0 1.5rem;
    color: #747481;
}
