h2,
p {
    color: #363946;
}

button:hover {
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0) !important;
}

#navbar {
    display: flex;
    position: relative;
    width: 80px;
    height: 100%;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    background: linear-gradient(#454eff, #635dff);
}

#navbar-top {
}

#navbar-bottom {
}

#main-window {
    border-radius: 10px 0 0 10px;
    position: absolute;
    top: 0;
    left: 70px;
    width: calc(100vw - 70px);
    height: 100vh;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

#header {
    position: relative;
    background: white;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#left {
}

#center {
    display: block;
    position: absolute;
    height: 60px;
    left: 50%;
    top: 30px;
    transform: translate(-50%, -50%);
}

#account-container {
    height: 100%;
    margin-right: 1rem;
}

#right {
    height: 100%;
    display: flex;
    gap: 1rem;
}

#auth-container {
    display: flex;
    gap: 0.6rem;
    align-items: stretch;
    padding: 0.8rem 0;
    margin-right: 0.6rem;
}

.auth-button {
    display: inline-block;
    border: none;
    padding: 0 0.8rem;
    border-radius: 0.4rem;
    font-weight: 700;
    font-size: 0.8rem;
    color: white;
}

#login {
    background: #454eff;
}

#sign-up {
    background: #eaeaec;
    color: #363946;
}

#account-button {
    aspect-ratio: 1;
    background: none;
    border: none;
    border-radius: 0.4rem;
    padding: 0;
    margin: 0;
}

#account-button div {
    position: relative;
    background: url("../static/common/account-icon.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}

#wip-banner {
    width: 100%;
    height: 30px;
    background: #ffcccc;
}

#wip-banner > div {
    width: fit-content;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#wip-banner > div * {
    display: inline-block;
    font-size: 0.85rem;
    margin: 0;
}

#wip-banner > div > a {
    margin-left: 0.5rem;
    color: #454eff;
}

#connect {
    height: calc(100% - 60px);
    background: white;
}

#connect-container {
    position: relative;
    left: 50%;
    top: calc(50% - 25px);
    transform: translate(-50%, -50%);
    width: 700px;
    background-color: white;
    border: 1px solid #eaeaec;
    border-radius: 1rem;
    padding: 2em;
}

#connection-selection {
    grid-column: 2;
}

#connect-form {
    transform-origin: center;
    margin: 1.5rem 0;
    height: 3em;
    display: flex;
    gap: 0.5em;
}

#connect-input {
    min-width: 0;
    flex: auto;
    padding: 1em;
    font-size: 0.9rem;
    border-radius: 0.5em;
    border-style: solid;
    border-color: grey;
    border-width: 0.1rem;
}

#connect-input:focus {
    outline-color: #454eff;
}

#connect-button {
    width: 15%;
    display: inline-block;
    border: none;
    border-radius: 0.4rem;
    background: #454eff;
    color: white;
    font-weight: 600;
    font-size: 1rem;
}

#divider {
    margin: 2rem 0;
    position: relative;
    height: 0.05em;
    width: calc(100% - 2em);
    left: 1em;
    background: rgba(160, 160, 160, 0.7);
}

#divider::after {
    display: block;
    position: relative;
    color: grey;
    content: "or";
    left: 50%;
    width: 1.5em;
    text-align: center;
    transform: translateX(-50%);
    bottom: 0.6em;
    background: white;
}

#id-box {
    position: relative;
    background: #eaeaec;
    padding: 1rem;
    border-radius: 0.75rem;
    display: flex;
    gap: 2.5rem;
}

#id-box h2 {
    margin: 0;
    display: inline-block;
    color: grey;
    font-size: 1rem;
}

#connect-id {
    margin: 0 1em 0 0;
}

#connect-pw {
    padding-left: 0.5rem;
    border-left: solid #898994;
}

#id-box p {
    margin: 0;
    font-size: 1.5rem;
}

#connect-container > h2 {
    margin: 0;
    font-size: 1.15rem;
}

#connect-container > p {
    font-size: 0.95rem;
    margin: 0.25rem 0 1.5rem;
    color: #747481;
}
