@import "app.css";
@import "connect.css";
@import "remote.css";

@font-face {
    font-family: Rubik;
    src: url("../static/common/Rubik-Regular.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

body {
    margin: 0;
}

html * {
    font-family: Inter;
    font-weight: 400;
}
